tensorflow==2.13.0
gast==0.4.0                
protobuf==4.23.4          
grpcio==1.73.1
h5py==3.14.0
opt_einsum==3.4.0
wrapt==1.17.2
keras==2.13.1
termcolor==3.1.0
typing-extensions==4.5.0
numpy==1.24.3
ml_dtypes==0.5.1
packaging==25.0
libclang==18.1.1
google-pasta==0.2.0
flatbuffers==25.2.10
optree==0.16.0
tensorboard==2.13.0
tensorboard-data-server==0.7.2
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-estimator==2.13.0
